---
import Base from "../layouts/Base.astro";
import BlogPost from "../components/BlogPost.astro";
import "../styles/global.css";

const posts = await Astro.glob("./posts/*.md");
---

<Base titulo="Blog" ruta="/blog/blog">
  <h1>Publicaciones recientes</h1>
  {
    posts.map((post) => (
      <BlogPost
        titulo={post.frontmatter.title}
        fecha={post.frontmatter.pubDate}
        resumen={post.frontmatter.description}
        img={post.frontmatter.image.url}
        url={post.url}
      />
    ))
  }
</Base>
